services:
  message-server:
    container_name: garden-land
    build: .
    ports:
      - 42069:42069
    expose:
      - 42069
  networks:
    - garden-land
networks:
  garden-land:
    name: garden-land
    external: true